@import "../../variables";

main {
  margin: 0 5rem;
}
main.dark {
  background-color: $primary-background-dark;
}
body.dark {
  background-color: $primary-background-dark;
}
@media only screen and (max-width: 480px) {
  main {
    margin: 0 3rem;
  }
}
