@import "../../variables";

.container {
  background-color: $primary-elements-light;
  padding-bottom: 1.5rem;
  box-shadow: $box-shadow;
  cursor: pointer;
}
img {
  display: block;

  width: 100%;
  height: 190px;
  border-radius: 5px;
}
h2 {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

p {
  font-weight: 100;
  font-size: 0.7rem;
  padding: 0.1rem 1rem;
}

.dark {
  background-color: $primary-elements-dark;
  color: $primary-text-dark;
  padding-bottom: 1.5rem;
  box-shadow: $box-shadow-dark;
  cursor: pointer;
}
