@import "../../variables";

.container {
  box-shadow: $box-shadow;
  background-color: $primary-elements-light;
  padding-bottom: 1.5rem;
  img {
    border-radius: 5px;
    height: auto;
    width: 100%;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  p {
    font-weight: 100;
    font-size: 0.7rem;
    padding: 0.1rem 1rem;
  }
}
