// COLORS

$primary-elements-dark: hsl(209, 23%, 22%);
$primary-background-dark: hsl(207, 26%, 17%);
$primary-text-dark: hsl(0, 0%, 100%);
$primary-text-light: hsl(200, 15%, 8%);
$primary-background-light: hsl(0, 0%, 98%);
$primary-elements-light: hsl(0, 0%, 100%);
$primary-shadow-light: rgba(190, 191, 191, 0.75);

//

// STYLES

$box-shadow: 3px 8px 24px -5px rgba(190, 191, 191, 0.75);
$box-shadow-dark: 3px 8px 24px -5px rgba(41, 41, 41, 0.75);
